<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dependenciesSection" type="ProofOfConcept.DependencyConfiguration, ProofOfConcept" />
  </configSections>
  <dependenciesSection>
    <dependencies>
      <add interface="ProofOfConcept.IPageFactory, ProofOfConcept" 
           resolvedBy ="ProofOfConcept.PageFactoryBase, ProofOfConcept"></add>
    </dependencies>
  </dependenciesSection>
</configuration>