<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dependenciesSection" type="ProofOfConcept.DependencyConfiguration, ProofOfConcept" />
    <section name="ProofOfConcept.ElementSearchConfigurationSettings" type="ProofOfConcept.ElementSearchConfigurationSettings, ProofOfConcept"/>
  </configSections>
  <dependenciesSection>
    <dependencies>
      <!--Common dependencies-->
      <add interface    = "ProofOfConcept.IPageFactory, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.PageFactoryBase, ProofOfConcept"></add>

      <add interface    = "ProofOfConcept.IElement, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.ElementBase, ProofOfConcept"></add>

      <add interface    = "ProofOfConcept.Services.NavigationService, ProofOfConcept.Services"
           resolvedBy   = "ProofOfConcept.Services.NavigationService, ProofOfConcept.Services"></add>

      <!--Tool-related dependencies-->
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IDriverDecorator, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumDriverDecorator, ProofOfConcept.Selenium"></add>

      <add toolFamily   = "Selenium"
           isSingleton  = "true"
           interface    = "OpenQA.Selenium.IWebDriver, WebDriver"
           resolvedBy   = "OpenQA.Selenium.Chrome.ChromeDriver, WebDriver"></add>

      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.INativeElementHandler, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumNativeElementHandler, ProofOfConcept.Selenium"></add>
      
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IHow, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.How, ProofOfConcept.Selenium"></add>
      
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IElementSearchConfiguration, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumElementFinder, ProofOfConcept.Selenium"></add>

      <!--Behaviors-->
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.Behaviors.ITextFieldBehavior, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.Behaviors.SeleniumTextFieldBehavior, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
          interface    = "ProofOfConcept.Behaviors.IButtonBehavior, ProofOfConcept"
          resolvedBy   = "ProofOfConcept.Selenium.Behaviors.SeleniumButtonBehavior, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.Behaviors.IRadioButtonBehavior, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.Behaviors.SeleniumRadioButtonBehavior, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.Behaviors.ICheckboxBehavior, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.Behaviors.SeleniumCheckboxBehavior, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.Behaviors.IDropDownBehavior, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.Behaviors.SeleniumDropDownBehavior, ProofOfConcept.Selenium"></add>


    </dependencies>
  </dependenciesSection>
  <ProofOfConcept.ElementSearchConfigurationSettings Timeout="00:03:00" />
  <appSettings>
    <add key="toolFamily" value="Selenium"/>
  </appSettings>
</configuration>
