<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dependenciesSection" type="ProofOfConcept.DependencyConfiguration, ProofOfConcept" />
  </configSections>
  <dependenciesSection>
    <dependencies>
      <!--Common dependencies-->
      <add interface    = "ProofOfConcept.IPageFactory, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.PageFactoryBase, ProofOfConcept"></add>

      <!--Tool-related dependencies-->
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IDriverDecorator, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumDriver, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IElement, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumElement, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IHow, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.How, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.ILocatorTransformer&gt;&lt;, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumLocatorTransformer, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IElementSearchConfiguration&gt;&lt;, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumElementSearchConfiguration, ProofOfConcept.Selenium"></add>

      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.TestInterfaces.INativeElement, ProofOfConcept"
           resolvedBy   = "WebDriver.OpenQA.Selenium.IWebElement, WebDriver.OpenQA.Selenium"></add>
    </dependencies>
  </dependenciesSection>
</configuration>