<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="toolFamily" value="Selenium"/>
  </appSettings>
  <configSections>
    <section name="dependenciesSection" type="ProofOfConcept.DependencyConfiguration, ProofOfConcept" />
    <section name="ProofOfConcept.ElementSearchConfigurationSettings" type="ProofOfConcept.ElementSearchConfigurationSettings, ProofOfConcept"/>
  </configSections>
  <dependenciesSection>
    <dependencies>
      <!--Common dependencies-->
      <add interface    = "ProofOfConcept.IPageFactory, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.PageFactoryBase, ProofOfConcept"></add>

      <!--Tool-related dependencies-->
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IDriverDecorator, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumDriver, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IElement, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumElement, ProofOfConcept.Selenium"></add>
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IHow, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.How, ProofOfConcept.Selenium"></add>
      <!--<add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.ILocatorTransformer&gt;&lt;, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumLocatorTransformer, ProofOfConcept.Selenium"></add>-->
      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.IElementSearchConfiguration, ProofOfConcept"
           resolvedBy   = "ProofOfConcept.Selenium.SeleniumElementFinder, ProofOfConcept.Selenium"></add>

      <add toolFamily   = "Selenium"
           interface    = "ProofOfConcept.TestInterfaces.INativeElement, ProofOfConcept"
           resolvedBy   = "WebDriver.OpenQA.Selenium.IWebElement, WebDriver.OpenQA.Selenium"></add>
    </dependencies>
  </dependenciesSection>
  <ProofOfConcept.ElementSearchConfigurationSettings Timeout="00:03:00" />
</configuration>